<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Fediventure</title>
<body>
  <header>
    <h1>Fediventure</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/specifications', 'Specifications'],
          ['/community', 'Community'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
      &copy; Copyright 2021 by Fediventure Authors, licensed under the GNU AGPL 3.0. <small><a href="https://gitlab.com/fediventure/fediventure/-/tree/main/pages">Contribute to this page</a></small>.
  </footer>
</body>
